@charset "UTF-8";

/*Typical Device Breakpoints
-----------------------------
pequenas telas: até 600px
celular: de 600px ate 768px
tablet: 768px ate 992px
desktop:992px ate 1200px
telas grandes: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }
    menu > ul > li {
        display: inline-block;
        min-width: 150px;
    }

    main {
        width: 768px;
    }
}